asn1crypto==0.24.0
catkin-pkg==0.3.9
chardet==3.0.4
cryptography==2.1.4
docutils==0.14
empy==3.3.2
enum34==1.1.6
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
numpy==1.15.4
olefile==0.45.1
Pillow==8.3.2
protobuf==3.6.1
pycrypto==2.6.1
Pygments==2.2.0
pygobject==3.26.1
python-dateutil==2.6.1
pyxdg==0.25
PyYAML==3.12
roman==2.0.0
rospkg==1.1.4
SecretStorage==2.3.1
six==1.11.0
