apturl==0.5.2
asn1crypto==0.24.0
astroid==2.1.0
beautifulsoup4==4.4.1
blinker==1.3
Brlapi==0.6.4
cachetools==3.1.0
certifi==2018.11.29
cffi==1.12.1
chardet==3.0.4
checkbox-support==0.22
command-not-found==0.3
cryptography==2.5
Cython==0.28.2
defer==1.0.6
dell-recovery==0.0.0
Django==2.1.5
docutils==0.14
feedparser==5.1.3
future==0.16.0
google-api-python-client==1.7.8
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.2.0
google-oauth==1.0.1
guacamole==0.9.2
gzuro==0.1
html5lib==0.999
httplib2==0.12.1
idna==2.8
isort==4.3.4
Jinja2==2.8
Kivy==1.11.0.dev0
Kivy-Garden==0.1.4
language-selector==0.1
lazy-object-proxy==1.3.1
louis==2.6.4
lxml==3.5.0
Mako==1.0.3
MarkupSafe==0.23
mccabe==0.6.1
numpy==1.16.1
oauthlib==3.0.1
onboard==1.2.0
padme==1.1.1
pexpect==4.0.1
Pillow==6.2.0
plainbox==0.25
progressbar==2.3
ptyprocess==0.5
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycodestyle==2.4.0
pycparser==2.19
pycups==1.9.73
pycurl==7.43.0
pyglet==1.3.2
Pygments==2.2.0
pygobject==3.20.0
PyJWT==1.3.0
pylint==2.2.2
pyOpenSSL==19.0.0
pyparsing==2.0.3
python-apt==1.1.0b1+ubuntu0.16.4.2
python-debian==0.1.27
python-systemd==231
pytz==2018.9
pyxdg==0.25
reportlab==3.3.0
requests==2.21.0
requests-oauthlib==1.2.0
requests-toolbelt==0.9.1
rsa==4.0
scikit-learn==0.20.2
scipy==1.2.1
sessioninstaller==0.0.0
six==1.12.0
ssh-import-id==5.5
system-service==0.3
typed-ast==1.2.0
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
unity-scope-calculator==0.1
unity-scope-chromiumbookmarks==0.1
unity-scope-colourlovers==0.1
unity-scope-devhelp==0.1
unity-scope-gdrive==0.7
unity-scope-manpages==0.1
unity-scope-openclipart==0.1
unity-scope-texdoc==0.1
unity-scope-tomboy==0.1
unity-scope-virtualbox==0.1
unity-scope-yelp==0.1
unity-scope-zotero==0.1
uritemplate==3.0.0
urllib3==1.24.1
usb-creator==0.3.0
virtualenv==16.2.0
wrapt==1.11.0
xdiagnose==3.8.4.1
xkit==0.0.0
XlsxWriter==0.7.3
